asn1crypto
asttokens
backports-datetime-fromisoformat
backports.zoneinfo
bcrypt
beautifulsoup4
boto3~=1.38.1
botocore
cached-property
cachetools
certifi
cffi
charset-normalizer
colorama
cryptography
dataclasses
defusedxml
dnspython
docopt
elastic-transport
elasticsearch~=8.17.1
et-xmlfile
exchangelib
executing
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
hiredis
httplib2
icecream
idna
importlib-resources
isodate
jmespath
json-logging
ldap3
lxml
msal
msgpack
ntlm-auth
numpy
O365
oauthlib
openpyxl
oscrypto
pandas~=2.2.3
paramiko
pexpect
pip
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
pycryptodomex
pyflakes
pygame
Pygments
PyJWT
PyNaCl
pyOpenSSL
pyparsing
pysftp
python-dateutil
python-json-logger
pytz~=2024.2
pytz-deprecation-shim
pyvim
pyvmomi
pywinrm
redis
redistimeseries
requests~=2.32.3
requests-ntlm
requests-oauthlib
rmtest
rsa
s3transfer
scripts
setuptools
simplejson
six
snowflake-connector-python
soupsieve
stringcase
stua
tzdata
tzlocal
ucsmsdk
uritemplate
urllib3~=1.26.20
wcwidth
websockets
winrmcp
xmltodict
zipp
